html {
  font-size: 100%;
}

a:visited {
  color: #F8B195;
}

a:hover {
  color: #F8B195;
}

a:active {
  color: #F8B195;
}
/* WEBSITE COLORS
     pastel pink= #F8B195
     light pink= #F67280
     purple= #C06C84
     dark purple= #6C5B7B
     dark blue= #355C7D
*/

/* FONTS
font-family: 'bebas-neue-by-fontfabric', sans-serif;
font-weight: 300/400/
font-style: normal/ bold
*/

/* HEADER */

header {
  background-color: #355C7D;
  color: #ffffff;
  font-size: 1.125rem;
  font-family: 'bebas-neue-by-fontfabric', sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: left;
}

nav {
  color: #ffffff;
  font-family: 'bebas-neue-by-fontfabric', sans-serif;
  font-weight: 300;
  font-style: normal;
  text-align: left;
}
  /* If I wanted to make this in one line- what do i do */

/* MAIN*/

h1 {
  color: #6C5B7B;
  font-family: 'bebas-neue-by-fontfabric', sans-serif;
  font-style: normal;
  font-weight: 6600;
}

h2 {
  color: #C06C84;
  font-weight: 600;
}

h3 {
  color: #F67280;
  font-weight: 400;
}

main {
  color: black;
  font-family: 'bebas-neue-by-fontfabric', sans-serif;
  font-weight: 400;
  font-size: 1.125rem;
  font-style: normal;
}

footer {
  background-color: #355C7D;
  color: #ffffff;
  text-indent: inherit;
}
